.header__lang-link {
    color: white;
    padding-right: 18px;    
    text-decoration: none;       
}

.header__lang-link:hover {
    opacity: 0.8;
    transition: opacity 0.5s ease-in;
}

.header__lang-link:last-child {    
    padding-right: 0;    
}