.place__title {
  color: white;
  font-size: 72px;
  line-height: 1.1;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 460px;
  align-self: end;
  justify-self: start;
}

@media screen and (max-width: 1024px) {
  .place__title {
    max-width: 440px;
  }
}

@media screen and (max-width: 768px) {
  .place__title {
    font-size: 42px;
    max-width: 340px;
  }
}

@media screen and (max-width: 610px) {
  .place__title {
    font-size: 32px;
  }
}

@media screen and (max-width: 560px) {
  .place__title {
    font-size: 28px;
  }
}

@media screen and (max-width: 540px) {
  .place__title {
    padding-left: 16px;
  }
}

@media screen and (max-width: 528px) {
  .place__title {
    font-size: 32px;
    max-width: 288px;
  }
}
