.place__image {
  width: 100%;
  max-width: 460px;
}

@media screen and (max-width: 1024px) {
  .place__image {
    max-width: 440px;
  }
}

@media screen and (max-width: 840px) {
  .place__image {
    max-width: 340px;
  }
}

@media screen and (max-width: 695px) {
  .place__image {
    max-width: 310px;
  }
}

@media screen and (max-width: 610px) {
  .place__image {
    max-width: 290px;
  }
}

@media screen and (max-width: 575px) {
  .place__image {
    max-width: 256px;
  }
}

@media screen and (max-width: 540px) {
  .place__image {
    max-width: 100%;
  }
}
