.footer__copyright {
    color: white;
    font-size: 14px;    
    line-height: 1.1;
    margin-top: 0;
    margin-bottom: 0;
}

@media screen and (max-width: 690px) {
    .footer__link {
        line-height: 1;           
    }
}